# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*


*.tsv

examples/line_follower/Makefile

*.stash

examples/line_follower/enkisimulator

enki/Makefile

.idea/

.gitmodules

examples/line_follower/coordData

examples/line_follower/error_signal

examples/line_follower/layer1

examples/line_follower/predictor15

examples/line_follower/predictor16

examples/line_follower/predictor17

examples/line_follower/predictor18

examples/line_follower/predictor19

examples/line_follower/predictor2

examples/line_follower/weightchange

examples/line_follower/__pycache__/

